<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel='stylesheet' type='text/css' href='/css/style.css' />
		<title>Session Example 02: Restrict page using bananas</title>
	</head>
	
	<body>
		
		<div style="text-align: right">Example 02: Restrict page using bananas</div>
		
		<ul id="menu">
			<li style='float: right'><a href='/'>Back to Examples</a></li>
			<li><a href="/example_02">Show Session</a></li>
			<li><a href="/example_02/set_session">Set Session</a></li>
			<li><a href="/example_02/restricted">Restricted page</a></li>
			<li><a href="/example_02/eat_banana">Eat Banana</a></li>
		</ul>