<%- include("../partials/page_start") -%>

<h1>Dummy page</h1>

This page does not modify the session in any way. <br>
You can read about this page in the source code. <br><br>
Go back to the "<a href='/example_01'>Show Session</a>" page to check if the session data still exists.

<%- include("../partials/page_end") -%>