<%- include("../partials/page_start") -%>

<h1>Insufficient Bananas</h1>

<p style='color: #a00'>Sorry. You do not have enough <b>bananas</b> to view this page :(</p>
<p>Go to the "<a href='/example_02/set_session'>Set Session</a>" page to get more bananas.</p>


<%- include("../partials/page_end") -%>