<%- include("../partials/page_start") -%>

<h1>Set Session</h1>

Session data saved. <br><br>Go to the "<a href='/example_02'>Show Session</a>" page to see the data.

<%- include("../partials/page_end") -%>